        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Duracion</th>
                    <th>Cantidad</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <%@client.payments.each do | payment |%>
                    <tr>
                        <td><%=payment.created_at%></td>
                        <td><%=payment.fee.fee_type.name%></td>
                        <td><%=payment.amount%></td>
                        <td></td>
                    </tr>
                <%end%>
            </tbody>
        </table>